
imgui.ini

assets/DinoSprites - doux.png

assets/DinoSprites - mort.png

assets/DinoSprites - tard.png

assets/DinoSprites - vita.png

assets/Double_Jump_Dust_5.png

assets/Owlet_Monster_Attack1_4.png

assets/Owlet_Monster_Attack2_6.png

assets/Owlet_Monster_Climb_4.png

assets/Owlet_Monster_Death_8.png

assets/Owlet_Monster_Hurt_4.png

assets/Owlet_Monster_Idle_4.png

assets/Owlet_Monster_Jump_8.png

assets/Owlet_Monster_Push_6.png

assets/Owlet_Monster_Run_6.png

assets/Owlet_Monster_Throw_4.png

assets/Owlet_Monster_Walk_6.png

assets/Owlet_Monster_Walk\+Attack_6.png

assets/Owlet_Monster.png

assets/Rock1.png

assets/Rock2.png

assets/sprites.json

assets/Walk_Run_Push_Dust_6.png
